@keyframes animation__icon {
    from { -webkit-transform: translate(0, -50px); transform: translate(0, -50px); opacity: 0; }
    to { -webkit-transform: translate(0, 0); transform: translate(0, 0); opacity: 1; }
}