.footer{
    border-top: 1px solid $color-fift;
    display: flex;
    height: 64px;
    &__text{
        display: flex;
        font-size: 14px;
        font-weight: 400;
    }
    &__text--bg{
        margin-left: 0.3em;
        color: $color-first;
    }
    &__form{
        display: flex;
        width: 380px;
        height: 40px;
    }
    &__input{
        width: 230px;
        height: 40px;
        border: 1px solid $color-fift;
        padding-left: 1em;
        outline: none;
    }
    &__input:focus{
        border: 1px solid $color-fift;
    }
}
