*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
header {
    width: 1140px;
    margin: 20px auto 0;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
main{
    background: rgb(233, 240, 253);
}
h1{
    vertical-align: top;
    color: rgb(81, 81, 81);
}
h3{
    margin: 0em;
    font-size: 48px;
}
h4{
    margin: 0.5em;
    font-size: 18px;
}
a{
    text-decoration: none; 
}
.icon{
    font-weight: 300;
    font-size: 30px;
    padding: 0.5em 0;
    margin: -30px auto;
    float: left;
    color: rgb(81, 81, 81);
}
.icon::first-letter {
    font-weight: 900;
    color: rgb(26, 188, 156);
    font-size: 30px;
  }
.menu{
    float: right;
    text-transform: uppercase;
    list-style-type: none;
}
.menu-btm{
    padding: 10px 15px;
    float: left;
}
.menu-btm-link{
    border: 1px solid #fff;
    color: rgb(15, 01, 01);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    outline: none;  
}      
.menu-btm-link:focus{
    color: rgb(26, 188, 156);
    border: 1px solid #fff;
}
.menu-btm-link:hover{
    color: rgb(26, 188, 156);
    cursor: pointer;
}
.slider{
    padding: 0;
    margin: 0;
    min-width: 1140px;
    width: 100%;
    height: auto;
    z-index: 100;
} 
.slider-img{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    /* z-index: 1; */
}
.slider-img-size{
        /* width: 1600px; */
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.slider-tittle{
    position: absolfh
    background:rgba(0, 0, 0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.slider-tittle-center{
    position: absolute;
    width: 1108px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.slider-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%); 
    width: 104px;
    height: 104px;
    background: rgba(26, 188, 156,0.5);
    border: 0px solid rgb(26, 188, 156);
}
.slider-arrow img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider-arrow:hover{
    background: rgba(26, 188, 156,1);
    cursor: pointer;
}
.slider-arrow-left{
    left: 0%;
}
.slider-arrow-right{
    right: 0%;
}
.slider-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;    
    text-transform: uppercase;

}
.slider-text-big{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 766px;
    height: 2em;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.slider-text-little{
    position: absolute;
    bottom: 0%;
    height: 1.2em;
    font-size: 24px;
    font-weight: 300;
}
.title{
    position: relative;  
    text-align: center;
    margin: 100px 0 75px 0;
}
.title-div{
    margin:  0 0 30px 0;
    color: rgb(81, 81, 81);
    font-family: Roboto;
    display: inline-block;
    text-align: center;
}
.title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%);
    background: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
}
.content{
    margin: 0 auto;
    max-width: 1140px;
    vertical-align: top;
    padding: 0 0 35px 0;
    text-align: center;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.card{
    position: relative;
    margin: 15px;
    width: 255px;
    box-sizing: border-box;
    float: left;
}
.card:hover .price{
    background: rgb(127, 217, 199);
}
.card:hover .name{
    background: rgb(26, 188, 156);
}
.photo-size{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo{
    width: 255px;
    height: 282px;
    background: rgb(233, 240, 253);
    margin: 0 auto;
}
.name{
    width: 205px; 
    height: 40px;
    margin: 0;
    padding: 0;
    float: left;
    color: rgb(255, 255, 255);
    background: rgb(50, 50, 50);
    text-transform: uppercase;
    text-align: left;
}
.price{
    width: 50px;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background: rgb(140, 140, 140);
    text-transform: uppercase;
}
.name .price p{
    margin: 0.5em;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.card-icon{
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 235px;
    height: 260px;
    background:rgba(0, 0, 0,0.5);
}
.card-icon:hover{
    opacity: 1;
}
.card-icon-all{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-icon-img{
    position: absolute;
    width: 46px;
    height: 46px;
    border: 2px solid rgb(255, 255, 255);
}
.card-icon-img:hover{
    background: rgb(26, 188, 156);
    border: 2px solid rgb(26, 188, 156);
    cursor: pointer;
}
.card-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-icon-img-1{
    top: 50%;
    left: 50%;
    transform: translate(-160%,-50%);
}
.card-icon-img-2{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-icon-img-3{
    top: 50%;
    left: 50%;
    transform: translate(60%,-50%);
}
.card-icon-img-4{
    position: absolute;
    width: 156px;
    height: 46px;
    border: 2px solid rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%,60%);
}
.card-icon-img-4 img{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(35%,-50%);
}
.card-icon-img-4 h6{
    position: absolute;
    font-weight: 400;
    width: 100px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-50%);
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
}
.card-icon-img-4:hover{
    background: rgb(50, 50, 50);
    border: 2px solid rgb(50, 50, 50);
    cursor: pointer;
}
.footer{
    position: relative;
    width: 100%;
    height: 90px;
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}
.footer-text{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-50%);
}
