.background{
    &--img{
        position: absolute;
        width: 100%;
        height: 1000px;
        background-image: url(../images/Layer15.png);
        background-repeat: no-repeat;
        background-position: center center;
        /* background-attachment: fixed; */
        background-size: cover;
        z-index: 2;
    }
    &--color{
        position: absolute;
        width: 100%;
        height: 1000px;
        z-index: 3;
        background: linear-gradient(rgba($color-first, 0.9), rgba($color-three, 0.9));
    }
    &__title{
        display: flex;
        flex-direction: column;
    }
}