.title{
    height: 250px;
    display: flex;
    flex-direction: column;
    &--bg{
        color: $color-for;
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__text--big{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__text--little{
        font-size: 24px;
        font-family: $font-three;
    }
    &__text--verygrate{
        width: 900px;
        font-weight: 700;
        font-size: 150px;
        text-transform: uppercase;
        text-align: center;
    }
    &__text--grate{
        font-size: 72px;
        font-family: $font-three;
    }
    &::after{
        content: "";
        display: block;
        margin-top: 40px;
        width: 60px;
        height: 3px;
        background: $color-first;
    }
}